Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57678/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57678/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57678/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getCPUPerformence_InputMessage">
    <wsdl:part name="parameters" element="tns:getCPUPerformence" />
  </wsdl:message>
  <wsdl:message name="IService_getCPUPerformence_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCPUPerformenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getRAMPerformence_InputMessage">
    <wsdl:part name="parameters" element="tns:getRAMPerformence" />
  </wsdl:message>
  <wsdl:message name="IService_getRAMPerformence_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRAMPerformenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IService_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IService_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getCPUPerformence">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCPUPerformence" message="tns:IService_getCPUPerformence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCPUPerformenceResponse" message="tns:IService_getCPUPerformence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRAMPerformence">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getRAMPerformence" message="tns:IService_getRAMPerformence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getRAMPerformenceResponse" message="tns:IService_getRAMPerformence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Upload" message="tns:IService_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadResponse" message="tns:IService_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Download" message="tns:IService_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DownloadResponse" message="tns:IService_Download_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCPUPerformence">
      <soap:operation soapAction="http://tempuri.org/IService/getCPUPerformence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRAMPerformence">
      <soap:operation soapAction="http://tempuri.org/IService/getRAMPerformence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IService/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IService/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:57678/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>