Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Battery" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cpu" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ram" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SendDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDataContract" nillable="true" type="tns:DeviceDataContract" />
</xs:schema>